@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
  --white: #ffffff;
  --darkgrey: #333333;
  --blue: #3586ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: var(--blue);
}

header .logo{
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

header .nav_links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

header .nav_links li {
  list-style: none;
}

header.nav_links li a{
  color: var(--white);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}