@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
  --background-color: rgb(248, 248, 248);
  --lightgrey: #C7D0FF;
  --darkgrey: #383838;
  --blue: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  --lightblue: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  --darkblue: #6D83F2;
}

*{
  font-family: 'Poppins', sans-serif;
}

nav{
  position: relative;
  margin: 270px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

nav .animation{
  position: absolute;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}

a:nth-child(1){
  width: 100px;
}

nav .home_navbar, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 0;
}

a:nth-child(2){
  width: 110px;
}

nav .home_navbar, a:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}

a:nth-child(3){
  width: 100px;
}

nav .home_navbar, a:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}

a:nth-child(4){
  width: 160px;
}

nav .home_navbar, a:nth-child(4):hover~.animation{
  width: 160px;
  left: 310px;
}

a:nth-child(5){
  width: 120px;
}

nav .home_navbar, a:nth-child(5):hover~.animation{
  width: 120px;
  left: 470px;
}