:root{
  --white: #ffffff;
  --darkgrey: #333333;
  --blue: #3586ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: var(--white);
}

footer{
  position: relative;
  width: 100%;
  background: var(--blue);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 2em;
  color: vas(--white);
  margin: 0 10px;
  display: inline-block;
  transition: 0,5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}